<div class="container marginTop1">
    @* <img src="~/images/contactUs.png" alt="Contact Us!" style="width:50%" /> *@
    <div class="jumbotron">
        <h3>We want to listen what you think about our services...</h3>
        <p>
            Suggestions and questions just contact us :)
        </p>
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>
            <h5><email adress="tobaccoShop@yahoo.com" content="Send email">tobaccoShop@yahoo.com</email></h5>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>
            <br>
            <h5>(11) 9874-5566</h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5>60 Wall Street, New York City number 114109</h5>
        </p>
    </div>
</div>


