@using Microsoft.AspNetCore.Identity

@* @inject SignInManager<IdentityUser> SignInManager *@
@* @inject UserManager<IdentityUser> UserManager *@

@* @if (SignInManager.IsSignedIn(User)) *@
@if (true)
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post" class="nav-link navbar-left">
        <a href="javascript:document.getElementById('logoutForm').submit()" style="color:white">&nbsp;Log off&nbsp;&nbsp;&nbsp;</a>
    </form>
}
else
{
    <a class="nav-link text-light" asp-controller="Account" asp-action="Login" style="color:white">&nbsp; Log in&nbsp; </a>
    <a class="nav-link text-light" asp-controller="Account" asp-action="Register" style="color:white">&nbsp;Register&nbsp;&nbsp;&nbsp; </a>
}
