<br />
<div class="container jumbotron">
    <div class="col-md-12">
        <h2 class="text-center">Success!. :)</h2>
        <br />
        <img src="~/images/facapedido1.jpg" alt="Buy something" class="center-block" />
        <br />
        <p class="text-center">
            <b>
               You can Log In.<br />
                Buy something...
            </b>
        </p>
    </div>
</div>